@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
.body{
  font-family: 'Montserrat', sans-serif;
}
/* Đặt margin-right cho icon trong nút */
.ant-btn .anticon {
  margin-right: 8px; /* Thay đổi giá trị này để điều chỉnh khoảng cách theo ý muốn */
}
.ant-qrcode-img {
  background-color: transparent !important; /* Đặt nền trong suốt */
}
.ant-card-head{
  background-color: #21477d !important;
  color:aliceblue !important;
}